
<div class="container">


  <form  class="col-12 row"[formGroup]="additionForm" (ngSubmit)="onSubmit()">
    <div class="col -12 col-sm-6">
      <div class="form-group">
        <label>Nazwa</label>
        <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid': submitted && f.name.errors}" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">* wymagane</div>
        </div>
      </div>

      <div class="form-group">
        <label>Adres</label>
        <input type="text" class="form-control" formControlName="address" [ngClass]="{'is-invalid':submitted && f.address.errors}" />
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">* wymagane</div>
        </div>
      </div>

    <div class="form-group">
      <button class="btn btn-primary">Dodaj</button>
    </div>

    </div>
  </form>
</div>

