<div class="row pb-3">
  <div class="col-md-12">
    <div class="card border-0">

      <div *ngIf="errors" class="alert alert-danger" role="alert">
        <strong>Błąd po stronie serwera: </strong> {{errors}}
      </div>

      <div *ngIf="wasPasswordChangeSuccessful" class="alert alert-success" role="alert">
        Twoje hasło zostało pomyślnie zaktualizowane!
      </div>

      <div class="card-header bg-white border-0">
        <h2>Zmień hasło:</h2>
      </div>

      <form #f="ngForm" novalidate>
        <div class="form-group">
          <app-form-input-element name="currentPassword" label="Aktualne hasło" type="password" required [(ngModel)]="passwordChangeData.currentPassword" #current="ngModel"></app-form-input-element>
          <app-validation-errors-display [model]="current" message="Proszę podać aktualne hasło"></app-validation-errors-display>
        </div>

        <div class="form-group">
          <app-form-input-element name="newPassword" label="Nowe hasło" type="password" password [(ngModel)]="passwordChangeData.newPassword" #new="ngModel"></app-form-input-element>
          <app-validation-errors-display [model]="new" [messages-factory]="validationErrorMessagesFactory" [show-on-touched]="false" [show-on-dirty]="true"></app-validation-errors-display>
        </div>

        <button class="btn btn-primary" [disabled]="f.invalid" (click)="changePassword(f)">Zmień hasło</button>
        <button class="btn btn-secondary" (click)="goBack()">Wróć</button>
      </form>
    </div>
  </div>
</div>

