<div style="margin: auto; padding-bottom: 30px;">
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="brandNew" class="alert alert-success" role="alert">
        <strong>Gotowe!</strong> Proszę zaloguj się za pomocą swojego konta
      </div>
      <div style="text-align: center;">
        <h2>Logowanie</h2>
      </div>
      <form #f="ngForm" novalidate (ngSubmit)="login(f)">
        <div class="form-group">
          <app-form-input-element name="email" label="E-mail" type="email" placeholder="E-mail" [ngModel]="registeredUserEmail" email></app-form-input-element>
        </div>
        <div class="form-group">
          <app-form-input-element name="password" label="Hasło" type="password" placeholder="Hasło" ngModel required></app-form-input-element>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Zaloguj</button>
        </div>
        <div *ngIf="errors" class="alert alert-danger" role="alert">
          {{errors}}
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div style="text-align: center;">
        <h2>Stwórz konto</h2>
      </div>
      <div style="  display: flex; align-items: center;">
        <img src="../../../assets/icons8-user-100.png" style="  margin: auto; margin-top:20px;">
      </div>
      <div style="  display: flex; align-items: center;">
        <button class="btn btn-primary" routerLink="/register" style="margin: auto; margin-top:30px;">Zarejestruj</button>
      </div>

    </div>
  </div>
</div>
